#employeeEntry p {
	width : 135px;
	background-color: none;
	text-align: center;
	float: left;
	text-decoration: underline;
}

table {
	width : 810px;
	margin: 35px auto;
}

td th {
	width : 135px;
}

table tr:nth-child(even){
	background-color: #99EBC2;
	border-radius: 5px;

}
table tr:nth-child(odd){
	background-color: #FFFFEB;
	border-radius: 5px;

}

.rev1 {
	color: #990000;
	font-weight: bold;
	text-align: center;
}

.rev2 {
	color: #990000;
	text-align: center;
}

.rev3 {
	color: #000000;
	text-align: center;
}

.rev4 {
	color: #009933;
	text-align: center;
}

.rev5 {
	color: #009933;
	font-weight: bold;
	text-align: center;
}

form {
	width: 810px;
	margin: 10px auto;
}

body {
	width: 830px;
	margin: 10px auto;
	background-color: #FFFAFF;
}

.topButton, .displaySalaries {
	margin: 10px 0 10px 15px;
	float: right !important;
	display: inline;
}

span {
	width: 400px;
}

.hiddenColumn{
	background-color: #FFFAFF;
	color: #FFFAFF;
	width: 40px;
}

.delEmployee {
	float : right;
}
