

/*table {
	width : 840px;
	margin: 35px auto;
}

table tr:nth-child(odd){
	background-color: #99EBC2;
	border-radius: 5px;

}
table tr:nth-child(even){
	background-color: #FFFFEB;
	border-radius: 5px;

}

th {
	background-color: #FFFFEB;
}

td, th {
	width : 135px;
}
*/

.rev1 {
	color: #990000;
	font-weight: bold;
	text-align: center;
}

.rev2 {
	color: #990000;
	text-align: center;
}

.rev3 {
	color: #000000;
	text-align: center;
}

.rev4 {
	color: #009933;
	text-align: center;
}

.rev5 {
	color: #009933;
	font-weight: bold;
	text-align: center;
}


body {
	color: #09504D;
	margin: 10px auto;
	background-color: #A0DA6C;
}

.topButton, .displaySalaries {
	margin: 10px 0 10px 15px;
	float: right !important;
	display: inline;
}

span {
	width: 400px;
}

.table-striped>tbody>tr:nth-child(odd)>td {
   background-color: #A0DACD;
 }

 .table-striped>tbody>tr:nth-child(even)>td {
   background-color: #38c1ab;
 }

.hiddenColumn{
	background-color: #A0DA6C !important;
	color: #A0DA6C;
	width: 40px;
	border-top-color: #A0DA6C !important;
	border-bottom-color: #A0DA6C !important;
}

.delEmployee {
	float : right;
	color: #990000;
}
